{% extends "main.html" %}

{% block title %}TrackCTF{% endblock %}

{% block main_content %}
<h3>Добро пожаловать в жюрейную систему полуфинала!</h3>

<p>Наш полуфинал пройдет в формате CTF. CTF это соревнования в области IT-безопасности. Уже на протяжении нескольких лет соревнования CTF являются лучшей практикой по обучению специалистов в области информационной безопасности.</p>

<p>В рамках полуфинала участникам будут предложены практические задания в формате task-based. Все задания можно разделить на несколько категорий: например, это задачи на администрирование, криптографию и стеганографию, задачи на нахождение веб-уязвимостей и любимые многими задания категории joy – развлекательные задачи разнообразной тематики. </p>

<p>Подробное описание форматов, наборы инструментов и подходов к решению можно найти в курсе молодого бойца (http://kmb.ufoctf.ru/). Потренироваться в решении заданий можно на площадке Хакердома (https://training.hackerdom.ru/).</p>

<p>Наше мероприятие начнется 13.04 в 13:00 по Москве и продлится 4 часа. Проходить мероприятие будет в режиме онлайн. Каждому участнику будут высланы на оставленную в форме почту логин, пароль и ссылка на сайт.</p>

<h3>Готовьтесь к демонстрации своих практических навыков этичного хакинга!</h3>
{% endblock %}
